#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --bs-primary: #4B3B47 !important;
  --bs-secondary: #6A6B83 !important;
  --bs-tertiary: #685874 !important;
  --bs-quaternary: #76949F !important;
  --bs-success: #9ee1b1 !important;
  --bs-danger: #e26e61 !important; 
}

body {
  background-color: var(--bs-secondary);
}


header, footer {
  background-color: var(--bs-primary);
}

form {
  margin: 2rem;
}

#project-cards {
  margin: 1rem;
}

h1 {
  background-color: var(--bs-quaternary);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

a {
  margin: .5rem;
}


p {
  text-align: left;
}

ul {
  list-style-position: inside;
  text-align: center;
}

img {
  margin: auto;
  margin-bottom: 1.5rem;

}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
