#root {
  margin: 0 auto;
  text-align: center;
}

:root {
  --bs-neutral: #46403B !important;
  --bs-secondary: #6A74A7 !important;
  --bs-tertiary: #C8E763 !important;
  --bs-quaternary: #E19B6E !important;
  --bs-success: #9ee1b1 !important;
  --bs-danger: #e26e61 !important; 
}

body {
  background-color: var(--bs-secondary);
}

.body-bg::before {
  background: url("/salvatore-andrea-unsplash.jpg");
  width: max-content;
  height: max-content;
  /* opacity: 80%; */
  background-color: var(--bs-secondary);
  mix-blend-mode: color-burn;
}

form {
  margin: 2rem;
}

#project-cards {
  margin: 2rem;
}

h1 {
  background-color: var(--bs-quaternary);
  color: var(--bs-neutral);
  font-size: 2rem;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 5rem;
  margin-right: 5rem;
  /* padding-top: 2rem !important; */
  padding: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Backdrop shadow */
}

nav {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Backdrop shadow */
}

footer {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

a {
  margin: .5rem;
}


p {
  text-align: left;
}

ul {
  list-style-position: inside;
  text-align: center;
}

.nav-link-cus.active {
  color: var(--bs-neutral) !important; 
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.about-me-content {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.bio-image {
  width: 100%;
  border-radius: 25px !important;
  min-width: 30%;
  /* align-items: flex-start; */
  display: flex;
  margin: 3rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Backdrop shadow */
}

.bio-card {
  align-items: flex-end;
  display: flex;
  margin: 3rem;
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Backdrop shadow */
}

.card {
  padding: 2em;
  justify-content: end;
  background-color: var(--bs-neutral);
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Backdrop shadow */
}

.read-the-docs {
  color: #888;
}

.nav-logo {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav-items-cus {
  /* align-items: end; */
  justify-content: end;
  display: flex;
  margin: auto;
}

.nav-items-ul {
  justify-content: space-evenly;
  display: flex;
}

.nav-single-item {
  justify-content: space-evenly;
  display: flex;
}

.nav-link-cus {
  border-radius: 5px;
  color: var(--bs-tertiary);
}

.nav-bg {
  background-color: var(--bs-neutral);
}

.footer {
background-color: var(--bs-neutral);
}
